name: Docker Build & Push on Tag

on:
  push:
    tags:
      - 'ngc_pytorch_v*.*'   # 匹配 v1.0、v2.3 等格式

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Maximize build space
        uses: justinthelaw/maximize-github-runner-space@master
        with:
          remove-dotnet: 'true'
          remove-android: 'true'   # 新增：移除Android SDK
          remove-haskell: 'true'   # 新增：移除Haskell
          remove-codeql: 'true'    # 新增：移除CodeQL
          remove-docker-images: 'true'  # 新增：清理Docker镜像缓存，至关重要
          remove-large-packages: 'true'
          remove-cached-tools: 'true'
      # get code
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          path: /home/runner/work/docker_image_maker/docker_image_maker

      # login Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
            
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver: docker-container

      # get tag name
      - name: Extract version from tag
        id: vars
        run: |
          VERSION=${VERSION##*_v}
          SHORT_SHA=$(git rev-parse --short HEAD)
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          echo "SHORT_SHA=$SHORT_SHA" >> $GITHUB_ENV

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./ngc_pytorch
          file: ./ngc_pytorch/Dockerfile
          push: true
          load: false
          tags: |
            neonexusx/ngc_pytorch:v${{ env.VERSION }}
            neonexusx/ngc_pytorch:latest
          cache-from: type=registry,ref=neonexusx/ngc_pytorch:cache
          cache-to: type=registry,ref=neonexusx/ngc_pytorch:cache,mode=max
