name: Docker Build & Push on Tag

on:
  push:
    tags:
      - 'bionet_deeplearning_v*.*'   # 匹配 bionet_deeplearning 开头的所有标签

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Maximize build space
        uses: justinthelaw/maximize-github-runner-space@master
        with:
          remove-dotnet: 'true'
          remove-android: 'true'   # 新增：移除Android SDK
          remove-haskell: 'true'   # 新增：移除Haskell
          remove-codeql: 'true'    # 新增：移除CodeQL
          remove-docker-images: 'true'  # 新增：清理Docker镜像缓存，至关重要
          remove-large-packages: 'true'
          remove-cached-tools: 'true'
      # get code
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          path: /home/runner/work/docker_image_maker/docker_image_maker

      # login Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
            
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver: docker-container

      # 构建镜像但不推送，临时 tag
      - name: Build Docker image (no push)
        uses: docker/build-push-action@v6
        with:
          context: ./bionet_deeplearning
          file: ./bionet_deeplearning/Dockerfile
          push: false
          load: true
          tags: temp:latest

      # 读取容器内 /version.txt
      - name: Get version info from image
        run: |
          docker create --name temp_container temp:latest
          docker cp temp_container:/version.txt ./version.txt
          docker rm temp_container
          TAG=$(cat ./version.txt | sed 's/[^a-zA-Z0-9._-]//g')
          echo "TAG=$TAG" >> $GITHUB_ENV

      # 用新 tag 推送镜像
      - name: Build and push Docker image (with version tag)
        uses: docker/build-push-action@v6
        with:
          context: ./bionet_deeplearning
          file: ./bionet_deeplearning/Dockerfile
          push: true
          load: false
          tags: |
            neonexusx/bionet_deeplearning:${{ env.TAG }}
            neonexusx/bionet_deeplearning:latest
          cache-from: type=registry,ref=neonexusx/bionet_deeplearning:cache
          cache-to: type=registry,ref=neonexusx/bionet_deeplearning:cache,mode=max